@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

.checkoutContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
}

.checkoutCard {
  display: flex;
  justify-content: space-between;
  border: 2px solid #b6ff04;
  width: 50%;
  border-radius: 22px;

  padding: 5px;
  gap: 70px;
}

.formContainer {
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.checkoutTitle {
  font-family: "Oswald", sans-serif;

  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

.checkoutSubtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #bbb;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup,
.formGroupInline {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.formGroupInline {
  flex-direction: row;
  justify-content: space-between;
}

.formGroup label {
  font-size: 14px;
  color: #b6ff04;
  margin-bottom: 5px;
}

.formGroup input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b6ff04;
  background-color: black;
  color: #fff;
  border-radius: 15px;
}

.formGroupInline .formGroup input {
  width: 140%;
}

.formGroupInline .formGroup:first-child input {
  width: 75%;
}

.formGroupInline .formGroup:last-child input {
  width: 160px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.price {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.paymentButton {
  margin-top: 40px;
  white-space: nowrap;
  width: 55%;
  padding: 0.75rem;
  background-color: #b6ff04;
  border: none;
  color: #000000;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 100px;
}

.paymentButton:hover {
  background-color: #b6ff04;
}

.planContainer {
  padding: 50px;
  background-color: #0f1400;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.planTitle {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 28px;
  font-size: 24px;
  margin-bottom: 5px;
  color: #fff;
}

.planContainer h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #b6ff04;
}

.planContainer p,
.planContainer ul {
  font-size: 14px;
  color: #bbb;
}

.planContainer ul {
  list-style: none;
  padding-bottom: 10px;
}

.planContainer ul li {
  margin-bottom: 5px;
}
