@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.hero {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-image: linear-gradient(
      to top,
      rgba(182, 255, 4, 0.7),
      rgba(182, 255, 4, 0) 7%
    ),
    /* Gradiente */ url("/Desktop.png");
  background-size: contain;
  background-position: center 40%, center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.hero h1 {
  font-size: 78px;
  font-weight: bold;
  line-height: 1.2;
}

.hero h1 span {
  color: #b6ff04;
}

.hero p {
  font-family: "Poppins", sans-serif;

  font-size: 28px;
  margin: 10px 0 30px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.stats div {
  margin-top: 5em;

  text-align: center;
}

.stats h2 {
  font-size: 24px;
  color: #b6ff04;
  margin: 0;
}

.stats p {
  font-size: 14px;
  color: #aaa;
}

.startButton {
  margin-top: 3em;

  width: 10em;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #b6ff04;
  border: 3px, solid, #b6ff04;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #b6ff04;
  color: black;
}
