@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

.container {
  display: flex;
  padding: 80px;
  color: white;
  font-family: Arial, sans-serif;
  gap: 90px;
  margin-left: 260px;
}

.profileSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #444;
  padding-right: 20px;
}

.profilePictureContainer {
  border: 4px solid #b6ff04;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 10px;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

.oswaldText {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.contactInfo {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.contactInfo li {
  margin: 17px 0;
  font-size: 0.9em;
}

.studentsSection {
  flex: 2;
  padding-left: 20px;
}

.tabs {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  width: 50%;
  cursor: pointer;
  transition: color 0.3s ease;
  gap: 40px;
}

.tabs span:hover {
  color: #b6ff04;
}

.activeTab {
  color: white;
  font-weight: bold;
}

.tabSeparator {
  margin: 1px 15px;
  color: #444;
}

.studentList {
  max-width: 80%;
  margin-top: 30px;
}

.student {
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.studentPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.studentInfo h4 {
  margin: 0;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.studentInfo p {
  margin: 20px 0 0;
  font-size: 0.9em;
  color: #aaaaaa;
}

.separator {
  border: none;
  border-top: 1px solid #444;
  margin: 10px 0;
  width: 60%;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  font-size: 1em;
}

.pagination span {
  color: #b6ff04;
  cursor: pointer;
}

.membershipCard {
  margin-top: 40px;
  margin-left: 60px;
  border: 2px solid #b6ff04;
  border-radius: 25px;
  padding: 18px;
  width: 300px;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Alinea verticalmente al centro */
  gap: 5px; /* Espacio entre "PRO PLAN" y el precio */
}

.membershipCard h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.membershipCard p {
  font-size: 1em;
  margin: 0;
  color: #b6ff04; /* Si quieres que el precio resalte */
}

.changeplan {
  margin-top: 20px;
  margin-left: 80px;
  font-size: 13px;
}
