@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

.fontOswaldSans-serif {
  font-family: "Oswald", sans-serif;
}

:root {
  --background: #000000;
  --foreground: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}


.submitButton {
  margin-top: 20px;
  white-space: nowrap;
  width: fit-content;
  padding: 0.75rem;
  background-color: #b6ff04;
  border: none;
  color: #000000;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  font-weight: 700;
  color: rgb(92, 92, 92);
  background-color: #b6ff04;
  transform: translateY(-2px);
}

.submitButton:disabled {
  background-color: #b6ff04;
  cursor: not-allowed;
}

.submitButtonSuspend {
  margin-top: 20px;
  white-space: nowrap;
  width: fit-content;
  padding: 0.75rem;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}