@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

.fontOswaldSans-serif {
  font-family: "Oswald", sans-serif;
}

:root {
  --background: #000000;
  --foreground: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}
